.column-left {
  width: 50%;
  float: left;
}

.column-right {
  width: 50%;
  float: right;
}

.column-right img {
  width: 100%;
}

.image-height {
  height: 610px;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  color: grey;
}
.heading2{
  color: pink;
}
.heading{
  width:50%;
}
